*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

#
*.itp
*.top
*.log
test/systems/0*
test/systems/1*
test/systems/2*
test/systems/3*
test/systems/4*
test/systems/5*
test/systems/6*
test/systems/7*
test/systems/8*
test/systems/9*
test/systems/archive
.DS_Store

*sublime-project
